<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>张三</string>
		<key>area</key>
		<string>北京市朝阳区</string>
		<key>time</key>
		<string>3月18日</string>
		<key>age</key>
		<string>5-8岁</string>
	</dict>
	<dict>
		<key>name</key>
		<string>李四</string>
		<key>area</key>
		<string>北京市朝阳区</string>
		<key>time</key>
		<string>3月18日</string>
		<key>age</key>
		<string>5-8岁</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Joan</string>
		<key>area</key>
		<string>北京市朝阳区</string>
		<key>time</key>
		<string>3月12日</string>
		<key>age</key>
		<string>2-4岁</string>
	</dict>
	<dict>
		<key>name</key>
		<string>李红</string>
		<key>area</key>
		<string>北京市朝阳区</string>
		<key>time</key>
		<string>2月18日</string>
		<key>age</key>
		<string>5-8岁</string>
	</dict>
	<dict>
		<key>name</key>
		<string>红红</string>
		<key>area</key>
		<string>北京市丰台区</string>
		<key>time</key>
		<string>3月18日</string>
		<key>age</key>
		<string>5-8岁</string>
	</dict>
	<dict>
		<key>name</key>
		<string>王春红</string>
		<key>area</key>
		<string>北京市朝阳区</string>
		<key>time</key>
		<string>3月18日</string>
		<key>age</key>
		<string>5-8岁</string>
	</dict>
	<dict>
		<key>name</key>
		<string>张三</string>
		<key>area</key>
		<string>北京市朝阳区</string>
		<key>time</key>
		<string>3月18日</string>
		<key>age</key>
		<string>5-8岁</string>
	</dict>
	<dict>
		<key>name</key>
		<string>张三</string>
		<key>area</key>
		<string>北京市朝阳区</string>
		<key>time</key>
		<string>3月18日</string>
		<key>age</key>
		<string>5-8岁</string>
	</dict>
	<dict>
		<key>name</key>
		<string>张三</string>
		<key>area</key>
		<string>北京市朝阳区</string>
		<key>time</key>
		<string>3月18日</string>
		<key>age</key>
		<string>5-8岁</string>
	</dict>
	<dict>
		<key>name</key>
		<string>张三</string>
		<key>area</key>
		<string>北京市朝阳区</string>
		<key>time</key>
		<string>3月18日</string>
		<key>age</key>
		<string>5-8岁</string>
	</dict>
</array>
</plist>
