<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>spell</key>
		<string>拼团省100￥</string>
		<key>reg</key>
		<string>报名ing~</string>
		<key>price</key>
		<string>6000</string>
		<key>total</key>
		<string>40</string>
		<key>name</key>
		<string>0km</string>
		<key>area</key>
		<string>北京市朝阳区</string>
		<key>time</key>
		<string>3月18日</string>
		<key>age</key>
		<string>5-8岁</string>
	</dict>
	<dict>
		<key>spell</key>
		<string>拼团省100￥</string>
		<key>reg</key>
		<string>报名ing~</string>
		<key>price</key>
		<string>6000</string>
		<key>total</key>
		<string>40</string>
		<key>name</key>
		<string>0km</string>
		<key>area</key>
		<string>北京市朝阳区</string>
		<key>time</key>
		<string>3月18日</string>
		<key>age</key>
		<string>5-8岁</string>
	</dict>
	<dict>
		<key>spell</key>
		<string>拼团省100￥</string>
		<key>reg</key>
		<string>报名ing~</string>
		<key>price</key>
		<string>6000</string>
		<key>total</key>
		<string>40</string>
		<key>name</key>
		<string>0km</string>
		<key>area</key>
		<string>北京市朝阳区</string>
		<key>time</key>
		<string>3月18日</string>
		<key>age</key>
		<string>5-8岁</string>
	</dict>
	<dict>
		<key>spell</key>
		<string>拼团省100￥</string>
		<key>reg</key>
		<string>报名ing~</string>
		<key>price</key>
		<string>6000</string>
		<key>total</key>
		<string>40</string>
		<key>name</key>
		<string>0km</string>
		<key>area</key>
		<string>北京市朝阳区</string>
		<key>time</key>
		<string>3月18日</string>
		<key>age</key>
		<string>5-8岁</string>
	</dict>
	<dict>
		<key>spell</key>
		<string>拼团省100￥</string>
		<key>reg</key>
		<string>报名ing~</string>
		<key>price</key>
		<string>6000</string>
		<key>total</key>
		<string>40</string>
		<key>name</key>
		<string>0km</string>
		<key>area</key>
		<string>北京市朝阳区</string>
		<key>time</key>
		<string>3月18日</string>
		<key>age</key>
		<string>5-8岁</string>
	</dict>
	<dict>
		<key>spell</key>
		<string>拼团省100￥</string>
		<key>reg</key>
		<string>报名ing~</string>
		<key>price</key>
		<string>6000</string>
		<key>total</key>
		<string>40</string>
		<key>name</key>
		<string>0km</string>
		<key>area</key>
		<string>北京市朝阳区</string>
		<key>time</key>
		<string>3月18日</string>
		<key>age</key>
		<string>5-8岁</string>
	</dict>
	<dict>
		<key>spell</key>
		<string>拼团省100￥</string>
		<key>reg</key>
		<string>报名ing~</string>
		<key>price</key>
		<string>6000</string>
		<key>total</key>
		<string>40</string>
		<key>name</key>
		<string>0km</string>
		<key>area</key>
		<string>北京市朝阳区</string>
		<key>time</key>
		<string>3月18日</string>
		<key>age</key>
		<string>5-8岁</string>
	</dict>
	<dict>
		<key>spell</key>
		<string>拼团省100￥</string>
		<key>reg</key>
		<string>报名ing~</string>
		<key>price</key>
		<string>6000</string>
		<key>total</key>
		<string>40</string>
		<key>name</key>
		<string>0km</string>
		<key>area</key>
		<string>北京市朝阳区</string>
		<key>time</key>
		<string>3月18日</string>
		<key>age</key>
		<string>5-8岁</string>
	</dict>
	<dict>
		<key>spell</key>
		<string>拼团省100￥</string>
		<key>reg</key>
		<string>报名ing~</string>
		<key>price</key>
		<string>6000</string>
		<key>total</key>
		<string>40</string>
		<key>name</key>
		<string>0km</string>
		<key>area</key>
		<string>北京市朝阳区</string>
		<key>time</key>
		<string>3月18日</string>
		<key>age</key>
		<string>5-8岁</string>
	</dict>
	<dict>
		<key>spell</key>
		<string>拼团省100￥</string>
		<key>reg</key>
		<string>报名ing~</string>
		<key>price</key>
		<string>6000</string>
		<key>total</key>
		<string>40</string>
		<key>name</key>
		<string>0km</string>
		<key>area</key>
		<string>北京市朝阳区</string>
		<key>time</key>
		<string>3月18日</string>
		<key>age</key>
		<string>5-8岁</string>
	</dict>
	<dict>
		<key>spell</key>
		<string>拼团省100￥</string>
		<key>reg</key>
		<string>报名ing~</string>
		<key>price</key>
		<string>6000</string>
		<key>total</key>
		<string>40</string>
		<key>name</key>
		<string>0km</string>
		<key>area</key>
		<string>北京市朝阳区</string>
		<key>time</key>
		<string>3月18日</string>
		<key>age</key>
		<string>5-8岁</string>
	</dict>
	<dict>
		<key>spell</key>
		<string>拼团省100￥</string>
		<key>reg</key>
		<string>报名ing~</string>
		<key>price</key>
		<string>6000</string>
		<key>total</key>
		<string>40</string>
		<key>name</key>
		<string>0km</string>
		<key>area</key>
		<string>北京市朝阳区</string>
		<key>time</key>
		<string>3月18日</string>
		<key>age</key>
		<string>5-8岁</string>
	</dict>
</array>
</plist>
